<div class="container text-center my-3">
  <h1>Alpha Bloggers</h1>
</div>

<div class="apple_pagination mb-3">
  <%= will_paginate @articles, :container => false %>
</div>

<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card text-center shadow-sm rounded mb-3 bg-white">
          <div class="card-header">
            <p class="fst-italic m-0">
              <%= link_to user.username, user %>
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
            <p class="card-text"><%= pluralize(user.articles.count, 'article') %></p>
            <%= link_to 'Show profile', user, class: 'btn btn-outline-primary' %>
            <% if logged_in? %>
              <% if user == current_user %>
                <%= link_to 'Edit profile', edit_user_path(user), class: 'btn btn-outline-success' %>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to 'Delete profile', user, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <p>Joined <%= time_ago_in_words(user.created_at) %> ago.</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="apple_pagination mb-3">
  <%= will_paginate @articles, :container => false %>
</div>
