<div class="container text-center my-4">
  <h1 class="mb-3"><%= @user.username %>'s profile</h1>
  <div class="mb-3">
    <%= gravatar_for @user, size: 200 %>
  </div>
  <h1>Articles</h1>
  <div class="text-center mb-3">
    <% if logged_in? && @user == current_user %>
      <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-info' %>
    <% end %>
  </div>

  <div class="apple_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
  </div>

  <%= render 'articles/article' %>

  <div class="apple_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>
