<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="h-100 d-flex flex-column">
    <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
      <div class="container">
        <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissable fade show mt-3" role="alert">
          <%= msg %>
          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
